<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hawa Mahal</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename= 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename = 'css/clean-blog.min.css')}}" rel="stylesheet">
  <style>
  .card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}
.card-title{
  width: 100%;
  height: 6vw;
  object-fit: cover;
}
.card-titlereview{
  width: 100%;
  height: 2vw;
  object-fit: cover;
}
.card-something{
  width: 60vw;
  object-fit: cover;
}
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="index.html">Voyager</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  {% block content %}
  <header class="masthead" style="background-image: url('{{images}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{names}}</h1>
            <span class="subheading" style="text-transform: uppercase">{{city}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
  <!-- Main Content -->
  <div class="container">
    <div class="row">

        <div class="post-preview">

            <h2 class="post-title">
              {{names}}
            </h2>

        </div>
        <hr>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
        	<div class="row">
        		<div>{{places}}</div>
        	</div>
        </div>
        <br>
        <br>
        <div class="row">

        </div>
        <h2>Reviews</h2>
        <div class="row">
          <div class="col-lg-12">
    <div class="col-lg-4">
    <div class="card card-something" >

      <div class="card-body ">
        <center><h5 class=".card-titlereview">{{title[1].text}}</h5><p class="card-body">After creating such rules, we implement the code on the entire transactions table.Such dictionary creation not only are more accurate, they are much faster than manual process. Imagine a scenario that Wall Mart is written in the transactions as Wall Mt. Now, if we are trying to search “Wall mart” we will get no matches. But in our framework, we will catch this fact in the association step. Creating dictionary is more of an art than science. The more efforts you put while creating the dictionary, better will be accuracy while scoring.</p></center>
      </div>
    </div>
    </div>
    <br>
    <br>
    <div class="col-lg-4">
    <div class="card card-something">

      <div class="card-body card-something">
        <center><h5 class=".card-titlereview">{{title[2].text}}</h5><p class="card-body">After creating such rules, we implement the code on the entire transactions table.Such dictionary creation not only are more accurate, they are much faster than manual process. Imagine a scenario that Wall Mart is written in the transactions as Wall Mt. Now, if we are trying to search “Wall mart” we will get no matches. But in our framework, we will catch this fact in the association step. Creating dictionary is more of an art than science. The more efforts you put while creating the dictionary, better will be accuracy while scoring.</p></center>
      </div>
    </div>
    </div>
    <br>
    <br>
    <div class="col-lg-4">
    <div class="card card-something">

      <div class="card-body">
        <center><h5 class=".card-titlereview">{{title[3].text}}</h5><p class="card-body">After creating such rules, we implement the code on the entire transactions table.Such dictionary creation not only are more accurate, they are much faster than manual process. Imagine a scenario that Wall Mart is written in the transactions as Wall Mt. Now, if we are trying to search “Wall mart” we will get no matches. But in our framework, we will catch this fact in the association step. Creating dictionary is more of an art than science. The more efforts you put while creating the dictionary, better will be accuracy while scoring.</p></center>
      </div>
    </div>
    </div>
    </div>
</div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
<br>
<br>
            <h2 class="post-title">
              Best Places to visit in <span style="text-transform: capitalize">{{city}}</span>
            </h2>

        </div>
      </div>
        <br>
        <br>
        <div class="row">
    <div class="col-lg-4">
    <div class="card">
      <img class="card-img-top" src="{{image[1]}}" alt="Card image cap">
      <div class="card-body">
        <center><h3 class="card-title">{{same_city[1]}}</h3><a href="{{url_for('placeinfo', placename = same_city[1])}}" class="btn btn-primary btn-xs">Show More</a></center>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="card">
      <img class="card-img-top" src="{{image[2]}}" alt="Card image cap">
      <div class="card-body">
        <center><h3 class="card-title">{{same_city[2]}}</h3><a href="{{url_for('placeinfo', placename = same_city[2])}}" class="btn btn-primary btn-xs">Show More</a></center>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="card">
      <img class="card-img-top" src="{{image[3]}}" alt="Card image cap">
      <div class="card-body">
        <center><h3 class="card-title">{{same_city[3]}}</h3><a href="{{url_for('placeinfo', placename = same_city[3])}}" class="btn btn-primary btn-xs">Show More</a></center>
      </div>
    </div>
    </div>
    </div>


        <br>
        <br>
        <br>
        <div class="post-preview">

            <h2 class="post-title">
              Best Hotels in <span style="text-transform: capitalize">{{city}}</span>
            </h2>

        </div>
        <br>
        <br>
        <div class="row">
    <div class="col-lg-4">
    <div class="card" >
      <img class="card-img-top" src="{{fetch_img(h_names[1]+' '+city)}}" alt="Card image cap">
      <div class="card-body">
        <center><h3 class="card-title">{{h_names[1]}}</h3><a href="{{url_for('placeinfo', placename = same_city[1])}}" class="btn btn-primary btn-xs">Show More</a></center>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="card">
      <img class="card-img-top" src="{{fetch_img(h_names[2]+' '+city)}}" alt="Card image cap">
      <div class="card-body">
        <center><h3 class="card-title">{{h_names[2]}}</h3><a href="{{url_for('placeinfo', placename = same_city[2])}}" class="btn btn-primary btn-xs">Show More</a></center>
      </div>
    </div>
    </div>
    <div class="col-lg-4">
    <div class="card">
      <img class="card-img-top" src="{{fetch_img(h_names[3]+' '+city)}}" alt="Card image cap" >
      <div class="card-body">
        <center><h3 class="card-title">{{h_names[3]}}</h3><a href="{{url_for('placeinfo', placename = same_city[3])}}" class="btn btn-primary btn-xs">Show More</a></center>
      </div>
    </div>
    </div>
    </div>

    <br>
    <br>


</div>

  {% endblock %}
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        <!--  <p class="copyright text-muted">Copyright &copy; Voyager</p>-->
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{url_for('static', filename = 'js/clean-blog.min.js')}}"></script>

</body>

</html>
